

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #95a5a6; 
	background: url('../images/tent.jpg') no-repeat center center fixed;
    background-size: cover;
}
h1 {
	color: #2c3e50;
}
h2 {
	margin-top: 10px;
	font-weight: 100; 
	color: #7f8c8d;
}
.right {
	float: right;
}
/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}

#card1 {
	background-color: white;
	margin-top: 100px;
}
#card1 p {
	font-size: 1.3em;
}
.card {
	border-radius: 5px;
	overflow: hidden;
}
.text-box {
	padding-left: 30px;
	padding-bottom: 15px;
	padding-right: 15px;
}
#socialz {
	background-color: #34495e;
	margin-top: 50px;
	color: white;
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.social-cont {
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	text-align: justify;
	padding-bottom: 0px;
	width:100%;
}
.social-cont:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}
.social-cont .fa {
	display: inline-block;
}













