

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #95a5a6; 
	background: url('../images/tent.jpg') no-repeat center center fixed;
    background-size: cover;
}
h1 {
	color: #2c3e50;
}
h2 {
	margin-top: 10px;
	font-weight: 100; 
	color: #7f8c8d;
}
.right {
	float: right;
}
.center {
	text-align: center;
}
/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}

#card1 {
	background-color: rgba(255,255,255,0.7);
	margin-top: 100px;
}
#card1 p {
	font-size: 1.3em;
}
.card {
	border-radius: 5px;
	overflow: hidden;
}
.text-box {
	padding-left: 30px;
	padding-bottom: 15px;
	padding-right: 15px;
}
#socialz {
	background-color: rgba(44, 62, 80,0.8);
	margin-top: 50px;
	color: white;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.social-cont {
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	text-align: justify;
	padding-bottom: 0px;
	width:100%;
}
.social-cont:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}
.social-cont .fa {
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}
.social-cont a .fa {
	color: #95a5a6;
}
.social-cont a:hover .fa {
	color: #bdc3c7;
}
#posts {
	background-color: rgba(255,255,255,0.7);
	margin-top: 30px;
	padding: 15px;
}
.project-thumb img {
	max-width: 100%;
}
.project-thumb {
	margin-bottom: 15px;
}
.project-text {
	top: 0px;
	opacity: 0;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-left: -15px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.project-text:hover {
	opacity: 1;
}
.project-cont {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	height: 100%;
	background-color: rgba(255,255,255,0.85);
}
.project-cont hr {
	border-color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}
.project-cont h2 {
	margin-top: -7px;
}
.project-cont .fa {
	margin-right: 10px;
	margin-top: -15px;
}
.footer {
	background-color: rgba(255,255,255,0.7);
	margin-top: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
}











